* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("https://external-preview.redd.it/z7_wYb9-YSvt0pDJlDIu8iuK_aWdqZPg0wvrGdwNvBw.png?auto=webp&s=b40bf3d0bccf7fe4f8dc601182710ca34eac2222");
  background-repeat: no-repeat;
  background-attachment: fixed;
  --mx: 50%;
  --my: 50%;
  --s: 1;
  --o: 0;
  --tx: 0px;
  --ty: 0px;
  --rx: 0deg;
  --ry: 0deg;
  --pos: 50% 50%;
  --posx: 50%;
  --posy: 50%;
  --hyp: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PokemonHollow";
    src: url("/fonts/PokemonHollow.ttf");
  }

  @font-face {
    font-family: "PokemonSolid";
    src: url("/fonts/PokemonSolid.ttf");
  }
}
